<div class = "card">
<h3> Create New post </h3>
<form class = "new-post-form">
    <label for = "post-title" class = "form-label"> Title </label>
    <input type = "text" name = "post-title" class = "form-input" id = "post-title" />

    <label class="form-label" for="post-content">Content</label>
    <input id="content" name="content" class = "form-input" />

    <button type = "submit" class = "btn"> Create </button>
    
</form>

</div>

<script src="/Develop/public/js/post.js"></script>
